<footer>
  <p>
    Designed by <a href="afriyiegroup.net/">Afriyie Group</a> &copy; 
    <a href="https://www.freecodecamp.org/certification/RemarkableAnaconda/responsive-web-design">Certified in JS</a>
    ||
    <a href="https://www.freecodecamp.org/certification/RemarkableAnaconda/javascript-algorithms-and-data-structures">Certified in JS</a>

  </p>
  <nav>
    <a href="https://webpages.charlotte.edu/rafriyie/">UNC Charlotte Webpage</a>
    ||
    <a href="https://github.com/richcomo123">GitHub</a>
    ||
    <a href="https://richcomo123.github.io/">GitHub Pages</a>
    ||
    <a href="https://richcomo123.github.io/itis3135">ITIS3135 Site</a>
    ||
    <a href="https://www.freecodecamp.org/RemarkableAnaconda">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/script8604962134">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/richmond-afriyie/">LinkedIn</a>
  </nav>
  <a class="htmlValidator" href="https://validator.w3.org/check?uri=referer">
    <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
  </a>
  <a class="cssValidator" href="https://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
  </a>
</footer>
