<footer>
  <p>
    Designed by<a href="afriyiegroup.net/"> Afriyie Group </a> &copy; 
  </p>
  <nav>
  <a href="https://webpages.charlotte.edu/rafriyie/">UNC Charlotte Webpage</a>
  ||
  <a href="https://github.com/richcomo123">GitHub</a>
  ||
  <a href="https://richcomo123.github.io/">GitHub Pages</a>
  ||
  <a href="https://richcomo123.github.io/itis3135">ITIS3135 Site</a>
  ||
  <a href="https://www.freecodecamp.org/RemarkableAnaconda">freeCodeCamp</a>
  ||
  <a href="https://www.codecademy.com/profiles/script8604962134">Codecademy</a>
  ||
  <a href="https://www.linkedin.com/in/richmond-afriyie/">LinkedIn</a>
</nav>
</footer>