<header>
  <h1>
    Richmond Afriyie's Remarkable Anaconda  || ITIS 3135
  </h1>
  <div class="menu-toggle">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <nav class="mobile-nav">
    <div class="nav-category">
      <h3>About Me</h3>
      <div class="dropdown">
        <a href="introduction.html">Introduction</a>
        <a href="contract.html">Contract</a>
      </div>
    </div>
    ||
    <div class="nav-category">
      <h3>HTML Practice</h3>
      <div class="dropdown">
        <a href="tables.html">HTML Tables</a>
        <a href="forms.html">HTML Form</a>
      </div>
    </div>
    ||
    <div class="nav-category">
      <h3>JavaScript Practice</h3>
      <div class="dropdown">
        <a href="firstscripts.html">First JavaScript</a>
        <a href="calculator_fcc.html">Calculator FCC</a>
        <a href="calculator_try.html">Calculator Try</a>
        <a href="byo_intro.html">BYO Intro</a>
      </div>
    </div>
    ||
    <div class="nav-category">
      <h3>Client Project</h3>
      <div class="dropdown">
        <a href="project_1.html">Project 1</a>
      </div>
    </div>
    ||
    <div class="nav-category">
      <h3>Stuff</h3>
      <div class="dropdown">
        <a href="stuff/MY COOL & We!rd Page..htm">Terrible Website</a>
      </div>
    </div>
  </nav>
</header>


